<div class="topnav" id="myTopnav">
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> HOME</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> CORPORATE <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">ABOUT US</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">CEO MESSAGE</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-php">REGIONAL DIRECTOR MESSAGE</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">MILL TEAM</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-java">ANNOUNCEMENT</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-go">B-CARE</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-clojure">DOWNLOAD</a></li>
          </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> PRODUCTS <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">I:ENERGY</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">B:HEALTHY</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-php">C:COSMETIC</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">PRODUCT ARTICLES</a></li>
          </ul>
      </li>
            <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> KNOWLEDGE <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">ETHICS</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">STARTER KIT</a></li>
          </ul>
      </li>
      <li>
        <a href="#"> OPPORTUNTIES</a>
      </li>
      <li>
        <a href="#"> NEWS & ARTICLE</a>
      </li>
      <li>
        <a href="#"> PROMOTIONS</a>
      </li>
      <li>
        <a href="#"> CONTACT US</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-user"></span> LOGIN</a>
      </li>
    </ul>
  </div>
</nav>
</div>
