
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">b:hip</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
          <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> CORPORATE <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">CEO MESSAGE</a></li>
            <li><a href="#">REGIONAL DIRECTOR MESSAGE</a></li>
            <li><a href="#">MILL TEAM</a></li>
            <li><a href="#">ANNOUNCEMENT</a></li>
            <li><a href="#">B-CARE</a></li>
            <li><a href="#">DOWNLOAD</a></li>
          </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>    
    </ul>
  </div>  
</nav>
<br>
