<!-- START REVOLUTION SLIDER 4.6.93 fullwidth mode -->
	<div id="rev_slider_7_1" class="rev_slider fullwidthabanner" style="display:none;max-height:450px;height:450px;">
<ul>	<!-- SLIDE  -->
	<li data-transition="random" data-slotamount="7" data-masterspeed="300" data-link="https://www.bhipthailand.co.th/bhip-the-champion-2019/"  data-thumb="https://www.bhipthailand.co.th/wp-content/uploads/2019/12/งานออกแบบที่ไม่มีชื่อ-6.png"  data-saveperformance="off"  data-title="Slide">
		<!-- MAIN IMAGE -->
		<img src="https://www.bhipthailand.co.th/wp-content/plugins/revslider/images/dummy.png"  alt="-6" data-lazyload="https://www.bhipthailand.co.th/wp-content/uploads/2019/12/งานออกแบบที่ไม่มีชื่อ-6.png" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-transition="random" data-slotamount="7" data-masterspeed="300" data-link="https://www.bhipthailand.co.th/feature-on-hellomag/"  data-thumb="https://www.bhipthailand.co.th/wp-content/uploads/2019/08/ติดตามพี่ฟลุ๊ค-เกริกพล-320x200.png"  data-saveperformance="off"  data-title="Slide">
		<!-- MAIN IMAGE -->
		<img src="https://www.bhipthailand.co.th/wp-content/plugins/revslider/images/dummy.png"  alt="-เกริกพล" data-lazyload="https://www.bhipthailand.co.th/wp-content/uploads/2019/08/ติดตามพี่ฟลุ๊ค-เกริกพล.png" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-transition="random" data-slotamount="7" data-masterspeed="300" data-thumb=""  data-saveperformance="off"  data-title="global convension2018">
		<!-- MAIN IMAGE -->
		<img src="https://www.bhipthailand.co.th/wp-content/plugins/revslider/images/dummy.png"  alt="" data-lazyload="https://www.bhipthailand.co.th/wp-content/plugins/revslider/images/transparent.png" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption tp-fade fullscreenvideo tp-videolayer" 
			 data-x="0" 
			 data-y="0" 
			data-speed="300" 
			data-start="500" 
			data-easing="Power3.easeInOut" 
			data-elementdelay="0.1" 
			data-endelementdelay="0.1" 
			 data-ytid="1JgSqLbVQeg" data-videowidth="100%" data-videoheight="100%" data-videoattributes="version=3&amp;enablejsapi=1&amp;html5=1&amp;hd=1&wmode=opaque&showinfo=0;;origin=https://www.bhipthailand.co.th;" data-videorate="1" data-videocontrols="controls" data-endspeed="300" 
			data-autoplay="true" 
			data-autoplayonlyfirsttime="true" 
			data-videoposter="https://www.bhipthailand.co.th/wp-content/uploads/2018/11/Screenshot-2018-11-18-22.25.51.png" 
			data-posterOnMObile="off" 

			style="z-index: 5;"> 
		</div>
	</li>
	<!-- SLIDE  -->
	<li data-transition="random" data-slotamount="7" data-thumb="https://www.bhipthailand.co.th/wp-content/uploads/2015/03/slider1-1Bhip-Banner2-320x200.jpg"  data-saveperformance="off"  data-title="Slide">
		<!-- MAIN IMAGE -->
		<img src="https://www.bhipthailand.co.th/wp-content/plugins/revslider/images/dummy.png"  alt="slider1-1Bhip-Banner2" data-lazyload="https://www.bhipthailand.co.th/wp-content/uploads/2015/03/slider1-1Bhip-Banner2.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-transition="random" data-slotamount="7" data-thumb="https://www.bhipthailand.co.th/wp-content/uploads/2015/03/slider2-1Bhip-Banner1-320x200.jpg"  data-saveperformance="off"  data-title="Slide">
		<!-- MAIN IMAGE -->
		<img src="https://www.bhipthailand.co.th/wp-content/plugins/revslider/images/dummy.png"  alt="slider2-1Bhip-Banner1" data-lazyload="https://www.bhipthailand.co.th/wp-content/uploads/2015/03/slider2-1Bhip-Banner1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-transition="random" data-slotamount="7" data-masterspeed="300" data-link="https://www.bhipthailand.co.th/promotion/bhip-vip-party-gallery/"  data-thumb="https://www.bhipthailand.co.th/wp-content/uploads/2017/11/bhip-vip-party2017158.jpg"  data-saveperformance="off"  data-title="BHIP VIP Party 2017">
		<!-- MAIN IMAGE -->
		<img src="https://www.bhipthailand.co.th/wp-content/plugins/revslider/images/dummy.png"  alt="bhip-vip-party2017169" data-lazyload="https://www.bhipthailand.co.th/wp-content/uploads/2017/11/bhip-vip-party2017169.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-transition="random" data-slotamount="7" data-masterspeed="600" data-thumb="https://www.bhipthailand.co.th/wp-content/uploads/2015/02/iBLUBhip-Banner-320x200.jpg"  data-saveperformance="off"  data-title="Slide">
		<!-- MAIN IMAGE -->
		<img src="https://www.bhipthailand.co.th/wp-content/plugins/revslider/images/dummy.png"  alt="iBLUBhip-Banner" data-lazyload="https://www.bhipthailand.co.th/wp-content/uploads/2015/02/iBLUBhip-Banner.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-transition="random" data-slotamount="7" data-masterspeed="600" data-thumb="https://www.bhipthailand.co.th/wp-content/uploads/2015/02/iRDBhip-Banner-320x200.jpg"  data-saveperformance="off"  data-title="Slide">
		<!-- MAIN IMAGE -->
		<img src="https://www.bhipthailand.co.th/wp-content/plugins/revslider/images/dummy.png"  alt="iRDBhip-Banner" data-lazyload="https://www.bhipthailand.co.th/wp-content/uploads/2015/02/iRDBhip-Banner.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-transition="random" data-slotamount="7" data-masterspeed="600" data-thumb="https://www.bhipthailand.co.th/wp-content/uploads/2015/02/iPNKBhip-Banner-320x200.jpg"  data-saveperformance="off"  data-title="Slide">
		<!-- MAIN IMAGE -->
		<img src="https://www.bhipthailand.co.th/wp-content/plugins/revslider/images/dummy.png"  alt="iPNKBhip-Banner" data-lazyload="https://www.bhipthailand.co.th/wp-content/uploads/2015/02/iPNKBhip-Banner.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
		<!-- LAYERS -->
	</li>
</ul>
<div class="tp-bannertimer"></div>	</div>
			

			<style scoped></style>

			<script type="text/javascript">

				/******************************************
					-	PREPARE PLACEHOLDER FOR SLIDER	-
				******************************************/
				

				var setREVStartSize = function() {
					var	tpopt = new Object();
						tpopt.startwidth = 960;
						tpopt.startheight = 450;
						tpopt.container = jQuery('#rev_slider_7_1');
						tpopt.fullScreen = "off";
						tpopt.forceFullWidth="off";

					tpopt.container.closest(".rev_slider_wrapper").css({height:tpopt.container.height()});tpopt.width=parseInt(tpopt.container.width(),0);tpopt.height=parseInt(tpopt.container.height(),0);tpopt.bw=tpopt.width/tpopt.startwidth;tpopt.bh=tpopt.height/tpopt.startheight;if(tpopt.bh>tpopt.bw)tpopt.bh=tpopt.bw;if(tpopt.bh<tpopt.bw)tpopt.bw=tpopt.bh;if(tpopt.bw<tpopt.bh)tpopt.bh=tpopt.bw;if(tpopt.bh>1){tpopt.bw=1;tpopt.bh=1}if(tpopt.bw>1){tpopt.bw=1;tpopt.bh=1}tpopt.height=Math.round(tpopt.startheight*(tpopt.width/tpopt.startwidth));if(tpopt.height>tpopt.startheight&&tpopt.autoHeight!="on")tpopt.height=tpopt.startheight;if(tpopt.fullScreen=="on"){tpopt.height=tpopt.bw*tpopt.startheight;var cow=tpopt.container.parent().width();var coh=jQuery(window).height();if(tpopt.fullScreenOffsetContainer!=undefined){try{var offcontainers=tpopt.fullScreenOffsetContainer.split(",");jQuery.each(offcontainers,function(e,t){coh=coh-jQuery(t).outerHeight(true);if(coh<tpopt.minFullScreenHeight)coh=tpopt.minFullScreenHeight})}catch(e){}}tpopt.container.parent().height(coh);tpopt.container.height(coh);tpopt.container.closest(".rev_slider_wrapper").height(coh);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(coh);tpopt.container.css({height:"100%"});tpopt.height=coh;}else{tpopt.container.height(tpopt.height);tpopt.container.closest(".rev_slider_wrapper").height(tpopt.height);tpopt.container.closest(".forcefullwidth_wrapper_tp_banner").find(".tp-fullwidth-forcer").height(tpopt.height);}
				};

				/* CALL PLACEHOLDER */
				setREVStartSize();


				var tpj=jQuery;
				tpj.noConflict();
				var revapi7;

				tpj(document).ready(function() {

				if(tpj('#rev_slider_7_1').revolution == undefined){
					revslider_showDoubleJqueryError('#rev_slider_7_1');
				}else{
				   revapi7 = tpj('#rev_slider_7_1').show().revolution(
					{	
												dottedOverlay:"none",
						delay:5000,
						startwidth:960,
						startheight:450,
						hideThumbs:200,

						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:5,
						
												
						simplifyAll:"off",

						navigationType:"bullet",
						navigationArrows:"solo",
						navigationStyle:"preview4",

						touchenabled:"on",
						onHoverStop:"on",
						nextSlideOnWindowFocus:"off",

						swipe_threshold: 75,
						swipe_min_touches: 1,
						drag_block_vertical: false,
						
												
												
						keyboardNavigation:"off",

						navigationHAlign:"center",
						navigationVAlign:"bottom",
						navigationHOffset:0,
						navigationVOffset:20,

						soloArrowLeftHalign:"left",
						soloArrowLeftValign:"center",
						soloArrowLeftHOffset:20,
						soloArrowLeftVOffset:0,

						soloArrowRightHalign:"right",
						soloArrowRightValign:"center",
						soloArrowRightHOffset:20,
						soloArrowRightVOffset:0,

						shadow:0,
						fullWidth:"on",
						fullScreen:"off",

												spinner:"spinner3",
												
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,

						shuffle:"off",

						autoHeight:"off",
						forceFullWidth:"off",
						
						
						
						hideThumbsOnMobile:"off",
						hideNavDelayOnMobile:1500,
						hideBulletsOnMobile:"off",
						hideArrowsOnMobile:"off",
						hideThumbsUnderResolution:0,

												hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						startWithSlide:0					});



									}
				});	/*ready*/

			</script>


			<style type="text/css">
	#rev_slider_7_1_wrapper .tp-loader.spinner3 div { background-color: #007bbf !important; }
</style>
</div><!-- END REVOLUTION SLIDER --></div>
